.note {
    position: relative;
    width: 12em;
    height: 12em;
    background: yellow;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #999;
}

.note p {
    margin: 1em;
}

.note p.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
}

.note textarea {
    background: transparent;
    border: none;
    position: absolute;
    top: 1em;
    left: 1em;
    width: 10em;
    box-sizing: border-box;
    bottom: 3.5em;
}
